@import '_mixins.scss';
@import '_variables.scss';
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

//Scrollbar
body::-webkit-scrollbar {
    width: 16px;
}
 
body::-webkit-scrollbar-track {
    background-color: $white;
    border-radius: 100px;
}
 
body::-webkit-scrollbar-thumb {
    background-color: $scrollbar;
    border-radius: 100px;
}


* {
    margin: 0;
    padding: 0;
    overflow-x: hidden
}

.minecraftWrapper {
    @include fullscreen;
}
.minecraftBox {
    @include box($white);
}

#firstw {
    @include adjustCenter;
    @include bg("../images/minecraft.jpg")
}
#firstb {
    h1 {
        @include xxlHeading($white);
        background-image: url('./img/ores.png')
    }   
}

#secondw {
    @include adjust(flex-start);
    @include bg("../images/tree.png")
}
#secondb {
    h2 {
        @include xlHeading($black);
    }
}

#thirdw {
    @include adjust(flex-end);
    @include bg("../images/ores.png")
}
#thirdb {
    h2 {
        @include xlHeading($black);
    }
}

#fourthw {
    @include adjust(flex-start);
    @include bg("../images/house.jpg")
}
#fourthb {
    h2 {
        @include xlHeading($black);
    }
}

#fifthw {
    @include adjust(flex-end);
    @include bg("../images/cave.jpg")
}
#fifthb {
    h2 {
        @include xlHeading($black);
    }
}
